personal-comments.txt
__pycache__/
venv/
etcs/
venv/
output/
dist/
build/
config.json
.idea/
desktop.ini
.get-pip.py
~$*
*/~*
*/.~*
validator/__pycache__/*
.DS_Store
.idea/misc.xml
lister.spec
output.docx
MML2OMML.XSL
omml2mml-versal.xsl
mml2omml-tei.xsl
demo2.docx
latex-docx.py
demo.docx
htmlsplit.py
test_html_split.py
lister.scrap.py
lister.scrap.py
