personal-comments.txt
__pycache__/
venv/
etcs/
venv/
output/
dist/
build/
config.json
.idea/
desktop.ini
.get-pip.py
~$*
*/~*
*/.~*
validator/__pycache__/*
.DS_Store
.idea/misc.xml
output.docx
MML2OMML.XSL
omml2mml-versal.xsl
mml2omml-tei.xsl
demo2.docx
latex-docx.py
demo.docx
htmlsplit.py
test_html_split.py
.idea/misc.xml
complex_ttk.py
complex_ttk.spec
elab-sop-tester (mb's conflicted copy 2022-09-07).py
lister (mb's conflicted copy 2022-09-07).py
README (mb's conflicted copy 2022-09-07).md
.idea/misc.xml
lister.scrap.py
lister.scrap.py
get-pip.py
DigiCertHighAssuranceEVRootCA.crt
DigiCertHighAssuranceEVRootCA.pem
output/cai-immunofluorescence-rewritten.json
output/cai-immunofluorescence-rewritten.log
output/cai-immunofluorescence-rewritten.xlsx
output/cpc-bile-salt.json
output/cpc-bile-salt.log
output/cpc-bile-salt.xlsx
output/cpc-material-method.json
output/cpc-material-method.log
output/cpc-material-method.xlsx
output/cpc-rewritten.json
output/cpc-rewritten.log
output/cpc-rewritten.xlsx
output/cpc01-JK-md.json
output/cpc01-JK-md.log
output/cpc01-JK-md.xlsx
output/cpc01-JK.json
output/cpc01-JK.log
output/cpc01-JK.xlsx
output/cpc03-CG-md.json
output/cpc03-CG-md.log
output/cpc03-CG-md.xlsx
output/cpc03-CG-md/CPC.jpg
output/cpc03-CG.json
output/cpc03-CG.log
output/cpc03-CG.xlsx
output/cpc1-JK.xlsx
output/cpc2-DM-elab.json
output/cpc2-DM-elab.log
output/cpc2-DM-elab.xlsx
output/cpc2-DM.xlsx
output/cpc3-CG-elab.json
output/cpc3-CG-elab.log
output/cpc3-CG-elab.xlsx
output/cai-immunofluorescence-rewritten.json
output/cai-immunofluorescence-rewritten.log
output/cai-immunofluorescence-rewritten.xlsx
output/cpc-bile-salt.json
output/cpc-bile-salt.log
output/cpc-bile-salt.xlsx
output/cpc-material-method.json
output/cpc-material-method.log
output/cpc-material-method.xlsx
output/cpc-rewritten.json
output/cpc-rewritten.log
output/cpc-rewritten.xlsx
output/cpc01-JK-md.json
output/cpc01-JK-md.log
output/cpc01-JK-md.xlsx
output/cpc01-JK.json
output/cpc01-JK.log
output/cpc01-JK.xlsx
output/cpc03-CG-md.json
output/cpc03-CG-md.log
output/cpc03-CG-md.xlsx
output/cpc03-CG-md/CPC.jpg
output/cpc03-CG.json
output/cpc03-CG.log
output/cpc03-CG.xlsx
output/cpc1-JK.xlsx
output/cpc2-DM-elab.json
output/cpc2-DM-elab.log
output/cpc2-DM-elab.xlsx
output/cpc2-DM.xlsx
output/cpc3-CG-elab.json
output/cpc3-CG-elab.log
output/cpc3-CG-elab.xlsx
MML2OMML2.XSL
.idea/misc.xml
blue.json
tkinter_position.py
ttk_sample.py
ttk_sample.spec
tkinter_multipage.py
.gitignore (mb's conflicted copy 2022-09-07)
.idea/misc.xml
radio-sample.py
