personal-comments.txt
__pycache__/
venv/
etcs/
venv/
output/
dist/
build/
config.json
.idea/
desktop.ini
.get-pip.py
~$*
*/~*
*/.~*
validator/__pycache__/*
.DS_Store
.idea/misc.xml
lister.spec
output.docx
MML2OMML.XSL
omml2mml-versal.xsl
mml2omml-tei.xsl
demo2.docx
latex-docx.py
demo.docx
htmlsplit.py
test_html_split.py
.idea/misc.xml
complex_ttk.py
complex_ttk.spec
elab-sop-tester (mb's conflicted copy 2022-09-07).py
lister (mb's conflicted copy 2022-09-07).py
README (mb's conflicted copy 2022-09-07).md
.idea/misc.xml
.gitignore (mb's conflicted copy 2022-09-07)
