latex2mathml==3.77.0
pandas==2.2.1
pyinstaller==6.3.0
beautifulsoup4==4.12.3
python-docx==1.1.0
gooey==1.0.8.1
xlsxwriter==3.2.0
elabapi-python==0.5.1
pathvalidate==3.2.0
numpy==1.26.4
lxml~=5.1.0
urllib3~=2.2.2
